// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



.create-new-ticket-btn
{
    color: gray;
    display: flex;
    align-items: center;
    text-decoration: none!important;
    padding: 0px 30px;
    border: 4px dashed #f2f2f2;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.3s;
}
.create-new-ticket-btn:hover
{
    background-color: #f8f8f8;
    border: 4px dashed gray;
    color: black
}
.ticket
{
    position: relative;
    text-decoration: none;
    margin-top: 10px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px;
    border: 4px solid #f4f4f4;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.3s;
}
.ticket.closed
{
    opacity: 0.5;
}
.ticket:hover
{
    background-color: #f4f4f4;
}
.ticket-title
{
    font-size: 24px;
    font-weight: 700;
    width: 100%;
}
.ticket-field
{
    font-size: 14px;
    color: gray;
}
.ticket-left
{
    width: 65%;
    min-width: 320px;
}
.ticket-right
{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
}
.ticket-priority-bar {
    display: flex;
    flex-wrap: wrap;
    height: 12px;
}
.ticket-priority-bar .point {
    width: 12px;
    height: 100%;
    background-color: #eae6e6;
    border-radius: 2px;
    margin-right: 3px;
}
.ticket-priority-bar .point.active
{
    background-color: rgb(61, 158, 232);
}
.status
{
    font-weight: 700;
}
.status.open
{
    color: limegreen;
}
.status.closed
{
    color: tomato;
}
.status.in-progress
{
    color: orange;
}
.statistics
{
    display: flex;
    color: #bbbbbb;
    justify-content: center;
    margin-bottom: 10px;
}
.stats-item
{
    padding: 5px 10px;
    width: 25%;
    text-align: center;
    margin-right: 30px;
    border-radius: 6px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
}
.stats-item.selected{
    background: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}
.stats-item:not(.selected):hover{
    background: rgba(255, 255, 255, 0.313);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}
.stats-item:hover
{
    color: gray;
}
.stats-item .stat-number
{
    font-size: 48px;
    line-height: 42px;
    font-weight: 700;
}
.user-row
{
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    padding: 10px 40px;
    text-decoration: none;
}
.user-row span
{
    margin: 0px 10px;
}
.search-ticket
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.search-ticket input
{
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 4px 10px;
}
.comment-section
{
    width: 100%;
    margin-top: 30px;
    position: relative;
}
.user-comments
{
    padding: 10px 40px;
    justify-content: center;
    width: 100%;
}
.comment {
    width: 70%;
    min-width: 280px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: rgb(33, 116, 232);
    color: white;
    font-weight: 400;
    border-top-left-radius: 0px;
}
.comment:not(.mine) a
{
    color: white;
}
.comment.mine
{
    float: right;
    background-color: #fcfcfc;
    color: gray;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 8px;
}
.comment-left
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
}
.comment-dot
{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: rgb(248, 176, 34);
    margin-right: 10px;
}
.comment .comment-user
{
    font-weight: 700;
    color: white;
    margin-right: 10px;
}
.comment.mine .comment-user
{
    color: rgb(32, 32, 92);
}
#comment
{
    background-color: white;
    width: 70%;
    margin-right: 10px;
    min-width: 300px;
}
.post-comment
{
    width: 90%;
    margin-left: 20px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.comments-count {
    text-decoration: underline;
    color: gray;
    font-size: 11px;
    margin-top: 30px;
}
.priority-1 .point.active
{
    background-color: rgb(192, 252, 192);
}
.priority-2 .point.active
{
    background-color: rgb(204, 236, 134);
}
.priority-3 .point.active
{
    background-color: rgb(247 229 89);
}
.priority-4 .point.active
{
    background-color: rgb(237, 174, 80);
}
.priority-5 .point.active
{
    background-color: rgb(240, 102, 90);
}

.ticket.priority-5:not(.closed) .point.active
{
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 6px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
.comment .posted-at {
    font-size: 11px;
    color: rgb(216, 215, 215);
    width: 100%;
}
.comment.mine .posted-at {
    font-size: 11px;
    color: gray;
    width: 100%;
}
.comment-right {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 20%;
}
.comment-options
{
    position: relative;
    top: -50px;
    right: -30px;
}
.comment-options a.btn.btn-secondary.dropdown-toggle
{
    background: none!important;
    color: gray;
    border: none;
    font-size: 22px;
}
.comment-options a.btn.btn-secondary.dropdown-toggle::after
{
    content: none;
}
a.ticket.closed .ticket-left div:not(.ticket-title) {
    display: none;
}
.activity
{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
}
.activity .activity-type
{
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 50%;
}
.activity .activity-type.dot-2
{
    background-color: rgb(255, 225, 0);
}
.activity .activity-type.dot-3
{
    background-color: tomato;
}
.activity .created_at
{
    border-radius: 4px;
    color: black;
    border: 1px solid black;
    padding: 1px 6px;
    font-weight: 300;
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
}
.department-ticket-list
{
    width: 22%;
    min-width: 260px;
    margin-right: 10px;
}
.department-title
{
    font-size: 16px;
}
.department-title::after
{
    content: "";
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 4px;
}
.call_center-title::after
{
    border-bottom: 6px solid #F94C66;
}
.social_services_department-title::after
{
    border-bottom: 6px solid #53BF9D;

}
.it_department-title::after
{
    border-bottom: 6px solid #FFC54D;

}
.pr_communication_media-title::after
{
    border-bottom: 6px solid #BD4291;

}
.closed-tickets
{
    display: flex;
    flex-wrap: wrap;
}
.closed-tickets .ticket
{
    width: 20%;
    margin-right: 5px;
}
.ticket:hover .expires-at
{
    opacity: 1;
    background-color: rgb(202, 45, 50);
    color: white;
}
.ticket .expires-at
{
    position: absolute;
    border: 1px solid rgb(202, 45, 50);
    color: rgb(202, 45, 50);
    font-weight: 700;
    font-size: 11px;
    top: -15px;
    right: 5px;
    padding: 1px 10px;
    border-radius: 4px;
    opacity: 0.4;
    transition-duration: 0.3s;
}
.ticket-files
{
    width: 30%;
    min-width: 180px;
}
.input-file-box
{
    padding: 10px;
    border: 4px dashed lightgray;
    border-radius: 4px;
    color: gray;
    width: 100%;
    cursor: pointer;
}
.input-file-box:hover
{
    border: 4px dashed gray;
    color: black;
}
.upload-btn
{
    background-color: rgb(0, 119, 255);
    width: 100%;
    border-radius: 4px;
    color:white;
    margin-top:4px;
    margin-bottom:20px;
}
.upload-btn:hover
{
    opacity: 0.8;
}
.uploaded-files
{
    display: flex;
    flex-wrap: wrap;
}
.uploaded-img
{
    display:flex;
    align-items:center;
    margin-bottom:4px;
    position: relative;
    margin-right:20px;
}
.delete-attachment
{
    margin-left:5px;
    font-size:11px;
    width: 20px;
    height:20px;
    border-radius:5px;
    background:rgba(244, 94, 80, 0.792);
    color:white;
}
.delete-attachment-form
{
    position:absolute;
    top:-15px;
    right:-15px;
}
.user-suggestion {
    border-bottom: 1px solid lightgray;
    padding: 4px 10px;
    cursor: pointer;
}
div#userlist-tag {
    display: none;
    width: 70%;
    background-color: white;
    border: 1px solid lightgray;
}
.user-suggestion:hover
{
    background-color: #0d6efd;
    color: white;
}
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
