// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.create-new-ticket-btn
{
    color: gray;
    display: flex;
    align-items: center;
    text-decoration: none!important;
    padding: 0px 30px;
    border: 4px dashed #f2f2f2;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.3s;
}
.create-new-ticket-btn:hover
{
    background-color: #f8f8f8;
    border: 4px dashed gray;
    color: black
}
.ticket
{
    text-decoration: none;
    margin-top: 10px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px;
    border: 4px solid #f4f4f4;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.3s;
}
.ticket.closed
{
    opacity: 0.5;
}
.ticket:hover
{
    background-color: #f4f4f4;
}
.ticket-title
{
    font-size: 24px;
    font-weight: 700;
    width: 100%;
}
.ticket-field
{
    font-size: 14px;
    color: gray;
}
.ticket-left
{
    width: 50%;
    min-width: 320px;
}
.ticket-right
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.ticket-priority-bar
{
    position: relative;
    top: -30px;
    display: flex;
    flex-wrap: wrap;
    height: 32px;
}
.ticket-priority-bar .point
{
    width: 12px;
    height: 100%;
    background-color: rgb(234, 230, 230);
    margin-left: 4px;
    border-radius: 2px;
}
.ticket-priority-bar .point.active
{
    background-color: rgb(61, 158, 232);
}
.status
{
    font-weight: 700;
}
.status.open
{
    color: limegreen;
}
.status.closed
{
    color: tomato;
}
.status.in-progress
{
    color: orange;
}
.statistics
{
    display: flex;
    color: #bbbbbb;
    justify-content: center;
    margin-bottom: 10px;
}
.stats-item
{
    width: 25%;
    text-align: center;
    margin-right: 30px;
}
.stats-item .stat-number
{
    font-size: 48px;
    line-height: 42px;
    font-weight: 700;
}
.user-row
{
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    padding: 10px 40px;
    text-decoration: none;
}
.user-row span
{
    margin: 0px 10px;
}
.search-ticket
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.search-ticket input
{
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 4px 10px;
}
